:root {
  --zelenyy: #00e983;
  --siniy: #0073e5;
  --temno-seryy: #414757;
  --svetlo-seryy: #f6f6f9;
  --temnyy: #1c1f23;
  --belyy: #fff;
  --seryy: #787e93;
  --knopka: #1c1e1f;
  --linii: #646e86;
  --svetlo-seryy: #8e94a7;

  --gap5: 5px;
  --gap10: 10px;
  --gap20: 20px;
  --gap25: 25px;
  --gap30: 30px;
  --gap45: 45px;

  --padding10: 10px;
  --padding20: 20px;
  --padding50: 50px;

  --fontsize: 16px;
  --fontsize: 20px;
  --fontsize: 24px;
  --fontsize: 40px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.bg-container {
  background: var(--temno-seryy);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  gap: var(--gap10);
}

.header-name-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: linear-gradient(173deg, #5b647b 0%, #00e983 100%);
  padding: 5px;
}

.header-name-logo img {
  width: 50px;
  height: 50px;
}

.header-wallet {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 20px;
}

.header-list-items {
  display: flex;
  padding: 20px 20px;
  gap: 15px;
  border: 1px solid var(--svetlo-seryy);
  border-radius: 15px;
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.1);
}

.header-list-items li {
  display: flex;
  align-items: center;
}

.header-list-items a {
  font-size: 16px;
  font-weight: 500;
}

.header-flex-vector {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-button {
  background: var(--zelenyy);

  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.active {
  color: var(--zelenyy);
}
